{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "ios": "12"
          }
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-optional-chaining",
    "@babel/plugin-transform-nullish-coalescing-operator"
  ]
}
